*,
*::before,
*::after{
  box-sizing: border-box;
}

html,
body{
  margin: 0;
  padding: 0;
}

/* Start */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.green-box{
  height: 40rem;
  width: 40rem;
  background-color: green;
}
.red-box{
  height: 2rem;
  width: 20rem;
  background-color: rebeccapurple;
  border: 2px solid hsl(6, 93%, 71%);
  box-shadow: 0px 0px 8px black;
  cursor: pointer;
  animation: animationBox 5s infinite ease-in-out;
  position: fixed;
}

@keyframes animationBox{
  0%{
    transform: translateX(0%);
  }
  25%{
    transform: translateY(2000%);
  }
  50%{
    transform: translate(500%, 500%);
  }
  100%{
    transform: translateX(0%);
  }
}


.name{
  animation: name 2s ease-in forwards 3;
}

@keyframes name{
  0%{
    transform: translateX(-20rem);
    color: white;
  }
  50%{
    transform: translateX(0%);
    color: black;
  }
  100%{
    transform: translateX(-20rem);
    color: white;
  }
}